<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Insert title here</title>
<link href="https://unpkg.com/tailwindcss@%5E2/dist/tailwind.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
	integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
	crossorigin="anonymous">
</head>

<body>
	<div class="container mx-auto px-4 sm:px-8">
		<header th:replace="layout/layout :: nav"></header>
		<div class="leading-loose">
			<form class="max-w-xl m-4 p-10 bg-white rounded shadow-xl"
				th:action="@{/estamento/guardar}" th:object="${estamento}"
				method="post">
				<input type="hidden" th:field="*{id}">
				<p class="text-gray-800 font-medium">
					<span th:text="${accion}"></span> Estamento
				</p>
				<div class="">
					<label class="block text-sm text-gray-00" for="cus_name">Eleccion</label>
					<select name="eleccion"
						class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-red-500 focus:border-red-500 focus:z-10 sm:text-sm">
						<option th:each="item : ${elecciones}" th:value="${item.id}"
							th:text="${item.nombre+' | '+item.cargo}"
							th:selected="${(item.id == estamento.eleccionBean.id)}">
					</select>
				</div>
				<div class="">
					<label class="block text-sm text-gray-00" for="cus_name">Descripcion</label>
					<input th:field="*{descripcion}"
						class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
						id="cus_name" name="descripcion" type="text" required=""
						placeholder="Registar estamento" aria-label="Name">
				</div>
				<div class="mt-4">
					<button
						class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
						type="submit" th:text="${accion}"></button>
				</div>
			</form>
		</div>
		<div>
</body>

</html>